<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="assets/output.css" rel="stylesheet">
</head>
<body class="max-w-4xl mx-auto p-4 bg-gray-100 text-gray-800">
  <header class="text-3xl font-bold text-blue-600 mb-8">My Blog</header>
  {{ content | safe }}
</body>
</html>
