<!DOCTYPE html>
<html lang="en" class="min-h-screen">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="{{ '/assets/output.css' | url }}" rel="stylesheet">
</head>

<body class="min-h-screen bg-neutral-900 text-neutral-200 flex flex-col">

  {% include "header.njk" %}

  <main class="flex-grow flex items-center justify-center p-6">
    <div class="max-w-2xl w-full">
      {{ content | safe }}
    </div>
  </main>

</body>

</html>