<!DOCTYPE html>
<html lang="en" class="min-h-screen">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link href="{{ '/assets/output.css' | url }}" rel="stylesheet" />
  <link href="https://unpkg.com/prismjs/themes/prism-okaidia.css" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-dark.min.css" />
</head>

<body class="min-h-screen bg-neutral-900 text-neutral-200 font-sans">
  {% include "header.njk" %}

  <article class="max-w-3xl mx-auto pt-8">
    <h1 class="text-4xl font-bold mb-4">{{ title }}</h1>
    <time datetime="{{ date.toISOString() }}" class="block text-neutral-400 mb-8">
      {{ date | date("MMMM d, yyyy") }}
    </time>

    <section style="background-color: #171717 !important;" class="markdown-body">
      {{ content | safe }}
    </section>
  </article>

</body>

</html>